<div class="container mb-4">
    <button class="btn btn-success" (click)="backClicked()">Back</button>
    <h2>Add User</h2>
</div>
<div class="container">
    <div class="row">
        <label class="col-md-3" for="email">Email address:</label>
        <p class="col-md-9">{{productinfo?.email}}</p>

        <label class="col-md-3" for="firstName">First Name:</label>
        <p class="col-md-9">{{productinfo?.firstName}}</p>

        <label class="col-md-3" for="lastName">Last Name:</label>
        <p class="col-md-9">{{productinfo?.lastName}}</p>
    </div>
</div>